.banner img {
  max-height: 700px;
}

.btn-custom {
  background-color: rgba(0, 177, 15, 0.664);
  color: white;
  border: 2px solid rgba(1, 136, 1, 0.486);
  border-radius: 10px;
  padding: 5px 20px;
  font-size: large;
  font-weight: 500;
  margin-bottom: 10px;
  transition: background-color 0.5s;
}

.btn-custom:hover {
  background-color: white;
  color: rgb(0, 128, 17);
  border: 2px solid rgba(45, 245, 55, 0.719);
  border-radius: 10px;
  padding: 5px 20px;
  font-size: large;
  font-weight: 500;
  margin-bottom: 10px;
}
